<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mining Compound</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../../assets/vendors/feather/feather.css">
  <link rel="stylesheet" href="../../../assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="../../../assets/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="../../../assets/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../assets/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="../../../assets/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="../../../assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="../../../assets/vendors/jquery-bar-rating/css-stars.css">
  <link rel="stylesheet" href="../../../assets/vendors/jquery-toast-plugin/jquery.toast.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../../assets/css/horizontal-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="../../../assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_horizontal-navbar.html -->
    <div class="horizontal-menu">
  <nav class="navbar top-navbar col-lg-12 col-12 p-0">
    <div class="container">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start me-lg-3">
        <div>
          <a class="navbar-brand brand-logo" href="/admin">
            <img src="../../../assets/images/logo-light.svg" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/admin">
            <img src="../../../assets/images/logo-mini-reverse.svg" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="horizontal-menu-toggle">
          <span class="ti-menu"></span>
        </button>
      </div>
    </div>
  </nav>
  <nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <span class="menu-title">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="menu-title">Billing and Transaction</span>
              <i class="menu-arrow"></i></a>
            <div class="submenu">
              <ul class="submenu-item">
                <li class="nav-item"><a class="nav-link" href="">Payment Gateway</a></li>
                <li class="nav-item"><a class="nav-link" href="">E-Wallet</a></li>
                <li class="nav-item"><a class="nav-link" href="">Withdrawal</a></li>
                <li class="nav-item"><a class="nav-link" href="">History and Transaction</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/log-out">
              <span class="menu-title"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</span>
            </a>
          </li>
        </ul>
    </div>
  </nav>
</div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class=" text-center pb-4">
                          <div class="mb-3">
                            <h3>Admin panel</h3>
                          </div>
                            <div class="tab-content tab-content-basic mt-4">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                    <div class="row">
                                        <div class="col-sm-12">
                                        <div class="statistics-details d-flex align-items-center justify-content-between">
                                            <div>
                                              <a href="/totalUsers" target="_blank" rel="noopener noreferrer">
                                                <p class="statistics-title">Total Users</p>
                                                <h3 class="rate-percentage"><%=total%></h3>
                                              </a>
                                            </div>
                                            <div>
                                              <a href="/current" target="_blank" rel="noopener noreferrer">
                                                <p class="statistics-title">Active Users</p>
                                                <h3 class="rate-percentage text-success"><%=currentUsers%></h3>
                                              </a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
              
                        <%  if( review.length != 0){    %>
                          <hr>
                          <div class="row mt-4">
                            <div class="col-lg-4">
                              <div class="border-bottom text-center pb-4">
                                <div class="mb-3 mt-3">
                                  <h5>Reviews - <%=review.length%></h5>
                                </div>
                              </div>
                          <%    review.forEach(function(reviewer){    %>
                            <div class="py-4">
                              <p class="clearfix">
                                <span class="float-start">
                                  Username
                                </span>
                                <span class="float-end text-muted">
                                  <%=reviewer.username%>
                                </span>
                              </p>
                              <p class="clearfix">
                                <span class="float-start">
                                  Email
                                </span>
                                <span class="float-end text-muted">
                                  <%=reviewer.email%>
                                </span>
                              </p>
                              <p class="clearfix">
                                <span class="float-start">
                                  Compound Amount
                                </span>
                                <span class="float-end text-muted">
                                  <%=reviewer.compound.active%>
                                </span>
                              </p>
                              <form class="forms-sample" action="/reviewCompounding" method="post">
                                <div class="form-group row">
                                  <div class="col">
                                    <label>Compounding Percentage</label>
                                    <input class="form-control" step="0.01" name="compounding" required type="number">
                                  </div>
                                  <input type="text" hidden name="email" value="<%=reviewer.email%>">
                                </div>
                                <div>
                                <button name="approve" class="btn text-end btn-rounded btn-success" type="submit">Proceed</button>
                                </div>
                              </form>
                            </div>
                            <hr>
                            <%  });    %>       

                            <%  }    %>
                    
                        
                            <%  if( pendingApproval != 0){    %>
                                <div class="row mt-4">
                                    <div class="col-lg-4">
                                      <div class="border-bottom text-center pb-4">
                                        <div class="mb-3 mt-3">
                                          <h5>Pending Payments - <%=pendingApproval%></h5>
                                        </div>
                                      </div>
                       
                                    <%    payment.forEach(function(newPayment){    %>
                                        <div class="py-4">
                                          <p class="clearfix">
                                            <span class="float-start">
                                              Username
                                            </span>
                                            <span class="float-end text-muted">
                                              <%=newPayment.username%>
                                            </span>
                                          </p>
                                          <p class="clearfix">
                                            <span class="float-start">
                                              Email
                                            </span>
                                            <span class="float-end text-muted">
                                              <%=newPayment.email%>
                                            </span>
                                          </p>
                                          <p class="clearfix">
                                            <span class="float-start">
                                              Amount
                                            </span>
                                            <span class="float-end text-muted">
                                              <%=newPayment.amount%>
                                            </span>
                                          </p>
                                          <p class="clearfix">
                                            <span class="float-start">
                                              Transaction ID
                                            </span>
                                            <span class="float-end text-muted">
                                              <%=newPayment.trnxId%>
                                            </span>
                                          </p>
                                          <p class="clearfix">
                                            <span class="float-start">
                                              Time
                                            </span>
                                            <span class="float-end text-muted">
                                              <%=newPayment.time.hour%>:<%=newPayment.time.minutes%> / <%=newPayment.time.date%>-<%=newPayment.time.month%>-<%=newPayment.time.year%>
                                            </span>
                                          </p>
                                          <form class="forms-sample" action="/planActivation" method="post">
                                            <div class="form-group row">
                                              <div class="col">
                                                <label>Direct commission</label>
                                                <input class="form-control" name="directPercentage" step="0.01" required type="number">
                                              </div>
                                              <div class="col">
                                                <label>Compounding</label>
                                                <input class="form-control" name="compounding" required type="number">
                                              </div>
                                              <input type="text" hidden name="username" value="<%=newPayment.username%>">
                                              <input type="text" hidden name="email" value="<%=newPayment.email%>">
                                              <input type="text" hidden name="approval" value="approve">
                                              <input type="number" hidden name="amount" value="<%=newPayment.amount%>">
                                              <input type="number" hidden name="trnxId" value="<%=newPayment.trnxId%>">
                                            </div>
                                            <div>
                                            <button name="approve" class="btn text-end btn-rounded btn-success" type="submit">Approve</button>
                                            </div>
                                          </form>
                                          <form class="forms-sample" action="/planActivation" method="post">
                                            <div class="form-group row">
                                              <input type="text" hidden name="username" value="<%=newPayment.username%>">
                                              <input type="text" hidden name="email" value="<%=newPayment.email%>">
                                              <input type="text" hidden name="approval" value="false">
                                              <input type="number" hidden name="amount" value="<%=newPayment.amount%>">
                                              <input type="number" hidden name="trnxId" value="<%=newPayment.trnxId%>">
                                            </div>
                                            <div>
                                            <button name="reject" class="btn text-start btn-rounded btn-danger" type="submit">Reject</button>
                                            </div>
                                          </form>
                                        </div>
                                        <hr>
                                      <%  });    %>
                                   
                                    </div>
                                  </div>
                            <%  }    %>
                            
              
                        <%  if(pendingWithdraw != 0){    %>
                          <div class="row mt-4">
                            <div class="col-lg-4">
                              <div class="border-bottom text-center pb-4">
                                <div class="mb-3 mt-3">
                                  <h5>Pending Withdrawal - <%=pendingWithdraw%></h5>
                                </div>
                              </div>
               
                              
                                    <%    withdrawal.forEach(function(invest){    %>
                                      <div class="py-4">
                                        <p class="clearfix">
                                          <span class="float-start">
                                            Email
                                          </span>
                                          <span class="float-end text-muted">
                                            <%=invest.email%>
                                          </span>
                                        </p>
                                        <p class="clearfix">
                                          <span class="float-start">
                                            Username
                                          </span>
                                          <span class="float-end text-muted">
                                            <%=invest.username%>
                                          </span>
                                        </p>
                                        <p class="clearfix">
                                          <span class="float-start">
                                            Transaction ID
                                          </span>
                                          <span class="float-end text-muted">
                                            <%=invest.trnxId%>
                                          </span>
                                        </p>
                                        <p class="clearfix">
                                          <span class="float-start">
                                            Time
                                          </span>
                                          <span class="float-end text-muted">
                                            <%=invest.time.hour%>:<%=invest.time.minutes%> / <%=invest.time.date%>-<%=invest.time.month%>-<%=invest.time.year%>
                                          </span>
                                        </p>
                                        <form class="forms-sample" action="/api/creditwithdrawal" method="post">
                                            <input type="text" hidden name="username" value="<%=invest.username%>">
                                            <input type="text" hidden name="email" value="<%=invest.email%>">
                                            <input type="text" hidden name="approval" value="true">
                                            <input type="number" hidden name="amount" value="<%=invest.amount%>">
                                            <input type="number" hidden name="trnxId" value="<%=invest.trnxId%>">
                                          </div>
                                          <div>
                                          <button name="approve" class="btn text-end btn-rounded btn-success" type="submit">Approve</button>
                                          </div>
                                        </form>
                                        <form class="forms-sample" action="/api/creditwithdrawal" method="post">
                                          <div class="form-group row">
                                            <input type="text" hidden name="username" value="<%=invest.username%>">
                                            <input type="text" hidden name="email" value="<%=invest.email%>">
                                            <input type="text" hidden name="approval" value="false">
                                            <input type="number" hidden name="amount" value="<%=invest.amount%>">
                                            <input type="number" hidden name="trnxId" value="<%=invest.trnxId%>">
                                          </div>
                                          <div>
                                          <button name="reject" class="btn text-start btn-rounded btn-danger" type="submit">Reject</button>
                                          </div>
                                        </form>
                                      </div>
                                      <hr>
                                      <%  });    %>
                                    </div>
                                  </div>
                                  
                      <%  }    %>
                                          
              
                      <%  if(pendingLoan.length != 0){    %>
                        <div class="row mt-4">
                          <div class="col-lg-4">
                            <div class="border-bottom text-center pb-4">
                              <div class="mb-3 mt-3">
                                <h5>Pending Loan - <%=pendingLoan.length%></h5>
                              </div>
                            </div>
             
                            
                                  <%    pendingLoan.forEach(function(loan){    %>
                                    <div class="py-4">
                                      <p class="clearfix">
                                        <span class="float-start">
                                          Email
                                        </span>
                                        <span class="float-end text-muted">
                                          <%=loan.email%>
                                        </span>
                                      </p>
                                      <p class="clearfix">
                                        <span class="float-start">
                                          Name
                                        </span>
                                        <span class="float-end text-muted">
                                          <%=loan.username%>
                                        </span>
                                      </p>
                                      <p class="clearfix">
                                        <span class="float-start">
                                          Mobile number
                                        </span>
                                        <span class="float-end text-muted">
                                          <%=loan.mobile%>
                                        </span>
                                      </p>
                                      <p class="clearfix">
                                        <span class="float-start">
                                          PAN number
                                        </span>
                                        <span class="float-end text-muted">
                                          <%=loan.pan%>
                                        </span>
                                      </p>
                                      <p class="clearfix">
                                        <span class="float-start">
                                          Aadhar number
                                        </span>
                                        <span class="float-end text-muted">
                                          <%=loan.aadhaar%>
                                        </span>
                                      </p>
                                      <form class="forms-sample" action="/api/loanApproval" method="post">
                                          <input type="text" hidden name="email" value="<%=loan.email%>">
                                          <input type="text" hidden name="approval" value="true">
                                          <input type="number" class="form-control" name="amount" value="<%=loan.amount%>">
                                        </div>
                                        <div>
                                        <button name="approve" class="btn text-end btn-rounded btn-success" type="submit">Approve</button>
                                        </div>
                                      </form>
                                      <form class="forms-sample" action="/api/loanApproval" method="post">
                                        <div class="form-group row">
                                          <input type="text" hidden name="email" value="<%=loan.email%>">
                                          <input type="text" hidden name="approval" value="false">
                                          <input type="number" hidden class="form-control" name="amount" value="<%=loan.amount%>">
                                        </div>
                                        <div>
                                        <button name="reject" class="btn mb-2 text-start btn-rounded btn-danger" type="submit">Reject</button>
                                        </div>
                                      </form>
                                    </div>
                                    <hr>
                                    <%  });    %>
                                  </div>
                                </div>
                                
                    <%  }    %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                </div>
          </div>
          <div class="col-12 mt-4">
            <div class="card mt-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-4">
                    <div class=" text-center">
                        
                      <div class="row mt-4">
                        <div class="col-lg-4">
                          <div class=" text-center">
                            <div class="">
                              <h5>User interface</h5>
                            </div>
                          </div>
                        <div class="py-4">
                          <form class="forms-sample" action="/userPanel" method="post">
                            <div class="form-group">
                              <label for="type">Select type</label>
                              <select class="form-select form-select-sm" name="type" id="type">
                                <option>email</option>
                                <option>userID</option>
                              </select>
                            </div>
                            <div class="form-group row">
                              <div class="col">
                                <label>Enter Email or UserID</label>
                                <input class="form-control" name="input" required type="text">
                              </div>
                            </div>
                            <div>
                            <button name="approve" class="btn text-end btn-rounded btn-success" type="submit">Proceed</button>
                            </div>
                          </form>
                        </div>
                        
          

          
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
      </div>
        </div>
      <div class="col-12 mt-4">
        <div class="card mt-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4">
                <div class=" text-center">
                    
                  <div class="row mt-4">
                    <div class="col-lg-4">
                      <div class=" text-center">
                        <div class="">
                          <h5>QR update</h5>
                        </div>
                      </div>
                    <div class="py-4">
                      <form class="forms-sample" action="/qrData" method="post">
                        <div class="form-group row">
                          <div class="col">
                            <label>Enter UPI ID</label>
                            <input class="form-control" name="upi" required type="text">
                          </div>
                        </div>
                        <div>
                        <button name="approve" class="btn text-end btn-rounded btn-success" type="submit">Confirm</button>
                        </div>
                      </form>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
  </div>
    </div>
    <div class="col-12 mt-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class=" text-center">
                  
                <div class="row mt-4">
                  <div class="col-lg-4">
                    <div class=" text-center">
                      <div class="">
                        <h5>Credit or Debit Loan</h5>
                      </div>
                    </div>
                  <div class="py-4">
                    <form class="forms-sample" action="/api/loanCredit" method="post">
                      <div class="form-group row">
                        <div class="col">
                          <label>Enter Email</label>
                          <input class="form-control" name="email" required type="text">
                        </div>
                        <div class="col">
                          <label>Enter Amount</label>
                          <input class="form-control" name="amount" required type="number">
                        </div>
                        <div class="form-group">
                          <label for="type">Select type</label>
                          <select class="form-select form-select-sm" name="type" id="type">
                            <option value="credit">Credit amount</option>
                            <option value="debit">Debit amount</option>
                          </select>
                        </div>
                      </div>
                      <div>
                      <button class="btn text-end btn-rounded btn-success" type="submit">Confirm</button>
                      </div>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
</div>
  </div>
    <div class="col-12 mt-4">
      <div class="card mt-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class=" text-center">
                  
                <div class="row mt-4">
                  <div class="col-lg-4">
                    <div class=" text-center">
                      <div class="">
                        <h5>Custom Credit</h5>
                      </div>
                    </div>
                  <div class="py-4">
                    <form class="forms-sample" action="/creditCustom" method="post">

                      <div class="form-group">
                        <label for="income">Select Credit type</label>
                        <select class="form-select form-select-sm" name="type" id="income">
                          <option value="club">Club Income</option>
                          <option value="team">Team Income</option>
                          <option value="loan">Credit Loan</option>
                        </select>
                      </div>
                      <div class="form-group row">
                        <div class="col">
                          <label>Enter Email</label>
                          <input class="form-control" name="email" required type="text">
                        </div>
                        <div class="col">
                          <label>Enter Amount</label>
                          <input class="form-control" name="amount" required type="number">
                        </div>
                      </div>
                      <div>
                      <button class="btn text-end btn-rounded btn-success" type="submit">Confirm</button>
                      </div>
                    </form>
                  </div>
                  
    

    
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
</div>
  </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">Copyright © 2024. All rights reserved.</span>
  </div>
</footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../../../assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="../../../assets/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <script src="../../../assets/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../../assets/js/off-canvas.js"></script>
  <script src="../../../assets/js/hoverable-collapse.js"></script>
  <script src="../../../assets/js/template.js"></script>
  <script src="../../../assets/js/settings.js"></script>
  <script src="../../../assets/js/todolist.js"></script>
  <script src="../../../assets/js/toastDemo.js"></script>
  <script src="../../../assets/js/core/request.js"></script>
  <script src="../../../assets/js/core/response.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../../assets/js/profile-demo.js"></script>
  <!-- End custom js for this page-->
</body>

</html>